{% extends 'base.html' %}
{% block content %}
<div id='current_mods'>
    <h1>Current Mods</h1>
    <br>
    <table id='currentModsTable' border="1" style='margin-top:20px; width:100%; border-collapse: collapse;'>
        <thead>
            <tr>
                <th>Mod Name</th> <!-- Name (link to page) by Author -->
                <th>Description</th>
                <th>Installed Version</th> <!--"Mod version (MC-version)"-->
                <th>Latest Version</th> <!--"Mod version (MC-version) (date)"-->
                <th>Update Available?</th>
                <th>Get Latest</th> <!-- Download link -->
            </tr>
        </thead>
        <tbody id="modListBody">
        </tbody>
    </table>
</div>
<hr>
<div id='add_new_mod'>
    <h1>Add new mod</h1>
    <br>
    <label for="mod_name_search">Search for mod by name:</label>
    <br>
    <input type="text" id='mod_name_search'></input>
    <button type='submit' id='mod_search_button'>Search</button>
    <table id="searchResultsTable" border="1" style="margin-top:20px; width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th></th>
                <th>Mod Name</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Project Page</th>
            </tr>
        </thead>
            <tbody id="searchResultsBody">
            <!-- Search results will go here -->
            </tbody>
    </table>
</div>
{% endblock content %}

{% block page_scripts %}
<script>
    const searchResultsBody = document.getElementById('searchResultsBody');
    const searchButton = document.getElementById("mod_search_button");
    
    const searchText = document.getElementById('mod_name_search');

    const myHeaders = new Headers();
    myHeaders.append('User-Agent', 'mrscopi/mc-modlist/ (contact admin@loottables.app)');
  
    searchButton.addEventListener("click", function() {
        const params = new URLSearchParams();
        params.append("query", searchText.value);
        params.append("limit", 20);
        params.append("facets", '[["categories:fabric"],["server_side:required"],["project_type:mod"],["versions:1.21.5","versions:1.21.6"]]')

        fetch(`https://api.modrinth.com/v2/search?${params}`, {
            method: 'GET',
            headers: myHeaders,
          })
        .then(response => {
        // Check if the request was successful (status code 200-299)
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        // Parse the response as JSON
        return response.json();
        })
        .then(data => {
            renderResults(data.hits, searchResultsBody);
        })
        .catch(error => {
        // Handle any errors during the fetch operation
        console.error('Error fetching data:', error);
        });
    });

    function renderResults(mods, targetTable) {
        targetTable.innerHTML = '';  // Clear previous results
    
        if (mods.length === 0) {
            targetTable.innerHTML = '<tr><td colspan="5">No results found.</td></tr>';
            return;
        }
    
        mods.forEach(mod => {
            modRow = searchResultsRow(mod);
            targetTable.appendChild(modRow);
        });
    }

    function searchResultsRow(mod) {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td><img src="${mod.icon_url}"></td>
            <td>${mod.title}</td>
            <td>${mod.slug}</td>
            <td>${mod.description || 'No description'}</td>
            <td><a href="https://modrinth.com/mod/${mod.slug}" target="_blank">View</a></td>
        `;
        return row;
    }
    

</script>
{% endblock page_scripts %}
