{% extends 'base.html' %}
{% block content %}

<div id='current_mods'>
    <h1>Minecraft Server Modlist</h1>
    <p>
        <label for="current_mc_version">Current version:</label>
        <select id="current_mc_version">
            <option value="1.21.5">1.21.5</option>
            <option value="1.21.6">1.21.6</option>
            <option value="1.21.7">1.21.7</option>
        </select>
    </p>
    <p>
        <label for="target_mc_version">Targeted version:</label>
        <select id="target_mc_version">
            <option value="1.21.5">1.21.5</option>
            <option value="1.21.6">1.21.6</option>
            <option value="1.21.7">1.21.7</option>
        </select>
    </p>
    <h1>Current Mods</h1>
    <br>
    <table id='currentModsTable' border="1" style='margin-top:20px; width:100%; border-collapse: collapse;'>
        <thead>
            <tr>
                <th>Mod Name</th> <!-- Name (link to page) by Author -->
                <th>Description</th>
                <th>Installed Version</th> <!--"Mod version (MC-version)"-->
                <th>Latest Version</th> <!--"Mod version (MC-version) (date)"-->
                <th>Update Available?</th>
                <th>Get Latest</th> <!-- Download link -->
            </tr>
        </thead>
        <tbody id="modListBody">
        </tbody>
    </table>
</div>
<hr>
<div id='add_new_mod'>
    <h1>Add new mod</h1>
    <br>
    <label for="mod_name_search">Search for mod by name:</label>
    <input type="search" id='mod_name_search'></input>
    <label for='search_sort_method'>Sort by:</label>
    <select id='search_sort_method'>
        <option value='relevance'>Relevance</option>
        <option value='downloads'>Downloads</option>
    </select>
    <button type='submit' id='mod_search_button'>Search</button>
    <table id="searchResultsTable" border="1" style="margin-top:20px; width:100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th></th>
                <th>Mod Name</th>
                <th>Description</th>
                <th>Project Page</th>
                <th>Add to Modlist</th>
            </tr>
        </thead>
            <tbody id="searchResultsBody">
            <!-- Search results will go here -->
            </tbody>
    </table>
</div>
{% endblock content %}

{% block page_scripts %}
<script>
    const searchResultsBody = document.getElementById('searchResultsBody');
    const modListBody = document.getElementById('modListBody');
    const searchButton = document.getElementById("mod_search_button");
    
    const searchText = document.getElementById('mod_name_search');
    const searchSortMethod = document.getElementById('search_sort_method')
    const currentVersion = document.getElementById('current_mc_version');
    const targetVersion = document.getElementById('target_mc_version')

    const myHeaders = new Headers();
    myHeaders.append('User-Agent', 'mrscopi/mc-modlist/ (contact admin@loottables.app)');
  
    searchButton.addEventListener("click", function() {
        const params = new URLSearchParams();
        params.append("query", searchText.value);
        params.append("limit", 20);
        params.append("facets", `[["categories:fabric"],["server_side:required", "server_side:optional"],["client_side:optional", "client_side:unsupported"],["project_type:mod"],["versions >= ${currentVersion.value}"]]`)
        params.append("index", searchSortMethod.value);

        fetch(`https://api.modrinth.com/v2/search?${params}`, {
            method: 'GET',
            headers: myHeaders,
          })
        .then(response => {
        // Check if the request was successful (status code 200-299)
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        // Parse the response as JSON
        return response.json();
        })
        .then(data => {
            renderSearchResults(data.hits, searchResultsBody);
        })
        .catch(error => {
        // Handle any errors during the fetch operation
        console.error('Error fetching data:', error);
        });
    });

    function renderSearchResults(mods, targetTable) {
        targetTable.innerHTML = '';  // Clear previous results
    
        if (mods.length === 0) {
            targetTable.innerHTML = '<tr><td colspan="5">No results found.</td></tr>';
            return;
        }
    
        mods.forEach(mod => {
            modRow = searchResultsRow(mod);
            targetTable.appendChild(modRow);
        });
    }

    function searchResultsRow(mod) {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td><img src="${mod.icon_url}" height="60px" width="60px"></td>
            <td>${mod.title}</td>
            <td>${mod.description || 'No description'}</td>
            <td><a href="https://modrinth.com/mod/${mod.slug}" target="_blank">View</a></td>
            <td><a href="javascript:addMod('${mod.project_id}','${mod.title}','${currentVersion.value}')">ADD</a></td>
        `;
        return row;
    }

    function renderListResults(mods, targetTable) {
        targetTable.innerHTML = '';  // Clear previous results
    
        if (mods.length === 0) {
            targetTable.innerHTML = '<tr><td colspan="6">No results found.</td></tr>';
            return;
        }
    
        mods.forEach(mod => {
            modRow = modListRow(mod);
            targetTable.appendChild(modRow);
        });
    }

    function modListRow(mod) {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td><a href="javascript:removeMod('${mod.project_id}')">X</a> ${mod.mod_name}</td>
            <td>desc</td>
            <td>${mod.installed_version} (MC: ${mod.installed_mc_version})</td>
            <td>${mod.latest_version} (MC: ${mod.latest_mc_version})</td>
            <td>Update?</td>
            <td>download</td>
        `;
        return row;
    }

    function getModList() {
        // Get the list
        fetch('api/list')
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`)
                }
                return response.json();
            })
            .then(mods => {
                renderListResults(mods, modListBody)
            })
            .catch(error => {
                // Handle any errors during the fetch operation
                console.error('Error fetching data:', error);
            });
    }
    
    function addMod(modProjectId, modTitle, installedMCVersion) {
        const modData = {
            project_id: modProjectId,
            mod_name: modTitle,
            installed_mc_version: installedMCVersion,
        };
        
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(modData)
        };

        fetch('api/add', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                getModList();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    };

    function removeMod(modProjectId) {
        const options = {
            method: 'DELETE',
        };

        fetch(`api/destroy/${modProjectId}`, options)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            getModList();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    };

    getModList();
</script>
{% endblock page_scripts %}
